


        <table style="width:100%" >
  <tr style="border:1px solid black">
    <th style="border:1px solid black">company name</th>
    <th style="border:1px solid black">company address</th>
    <th style="border:1px solid black">description</th>
    <th style="border:1px solid black"> company code code</th>


  </tr>
  <tr style="text-align:center">
    <td style="border:1px solid black">{{company.company_name}}</td>
    <td style="border:1px solid black">{{comapny.company_address}}</td>
    <td style="border:1px solid black">{{company.company_description}}</td>
    <td style="border:1px solid black">{{company.company_code}}</td>

  </tr>
        </table>